*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}
html{
    
}

body{
    
    
    height: 100vh;
    background-attachment: fixed;
}

section{
    min-height: y mandatory;
    overflow-y: scroll;
}
